@import "root";

.footer {
  background: $color-bg-secondary;

  .footer__container {
    position: relative;
    max-width: 1216px;
    padding: 10px 32px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 72px;

    .footer__social-icons {
      .footer__social-list {
        display: flex;
        align-items: center;
        gap: 27px;

        .footer__social-icon {
          width: 58px;
        }
      }
    }

    .footer__credits {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font: normal 400 20px/27px "Noto Sans", sans-serif;
      white-space: nowrap;
    }

    .footer__logo {
      width: 59px;
      height: 109px;
    }
  }
}
