@import "root";
@import "reset";
@import "header";
@import "main";
@import "footer";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: $color-bg-primary;
  color: $color-text-light;
}
