.main {
  .main__section {
    &:nth-child(0n + 1) {
      .main__content {
        padding: 11px 55px;
        max-width: 1216px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 86px;

        @media (max-width: 990px) {
          flex-direction: column;
          gap: 32px;
          padding: 14px 20px;
        }

        .main__text {
          font: normal 400 24px/32px "Noto Sans", sans-serif;
          color: $color-text-dark;
          max-width: 587px;

          @media (max-width: 990px) {
            max-width: 100%;
            text-align: center;
            font: normal 400 16px/20px "Noto Sans", sans-serif;
          }
        }

        .main__container-image {
          overflow: hidden;
          min-width: 365px;

          @media (max-width: 990px) {
            min-width: unset;
            width: 100%;
          }

          .main__image {
            min-width: 365px;
            height: 355px;
            transition: all 0.3s ease-in-out;

            @media (max-width: 990px) {
              min-width: unset;
              height: auto;
              width: 100%;
            }

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }

    &:nth-child(0n + 2) {
      background-color: $color-bg-secondary;

      .main__content {
        padding: 14px 55px;
        max-width: 1216px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 58px;

        @media (max-width: 990px) {
          flex-direction: column;
          gap: 32px;
          padding: 14px 20px;
        }

        .main__text {
          font: normal 400 24px/32px "Noto Sans", sans-serif;
          max-width: 648px;

          @media (max-width: 990px) {
            font: normal 400 16px/20px "Noto Sans", sans-serif;
            max-width: 100%;
            text-align: center;
          }
        }

        .main__container-image {
          overflow: hidden;
          min-width: 421px;

          @media (max-width: 990px) {
            min-width: unset;
            width: 100%;
          }

          .main__image {
            min-width: 421px;
            height: 234px;
            transition: all 0.3s ease-in-out;

            @media (max-width: 990px) {
              min-width: unset;
              height: auto;
              width: 100%;
            }

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }

    &:nth-child(0n + 3) {
      .main__content {
        padding: 82px 55px;
        max-width: 1216px;
        margin: 0 auto;

        @media (max-width: 990px) {
          padding: 32px 20px;
        }

        .main__icons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 27px;

          @media (max-width: 990px) {
            flex-direction: column;
          }

          .main__icon-item {
            transition: all 0.3s ease-in-out;

            &:hover {
              transform: scale(1.1);
            }

            .main__container-image {
              overflow: hidden;

              .main__icon-image {
                width: 250px;
                height: 250px;
              }
            }
          }
        }
      }
    }
  }
}
